.venv/
**/.venv/
.env
**/.env
node_modules/
**/node_modules/
dist/
**/dist/
__pycache__/
**/__pycache__/
.vscode/
*.tsbuildinfo
**/*.tsbuildinfo
.smtp.json
z_delete/
docker-compose.yml
.aider*
/dokumentation
