services:
  db:
    extends:
      file: ./backend/docker-compose.yml
      service: db
    #env_file:
      #- .env
    ports:
      - "5432:5432"

  api:
    extends:
      file: ./backend/docker-compose.yml
      service: api
    #env_file:
      #- .env
    environment:
      PYTHONPATH: /app
    ports:
      - "${API_PORT:-8000}:8000"
    depends_on:
      db:
        condition: service_healthy
    dns:
      - 1.1.1.1
      - 8.8.8.8
    

  admin_ui:
    build: ./admin_frontend/admin-ui
    #env_file:
      #- .env
    ports:
      - "5173:5173"
    depends_on:
      - api

  customer_ui:
    build: ./customer_frontend/customer-ui
    #env_file:
      #- .env
    ports:
      - "6173:6173"
    depends_on:
      - api

volumes:
  pgdata:
