services:
  db:
    extends:
      file: ./backend/docker-compose.yml
      service: db
    ports:
      - "5432:5432"

  api:
    extends:
      file: ./backend/docker-compose.yml
      service: api
    environment:
      PYTHONPATH: /app
      TZ: ${TZ}
    ports:
      - "${API_PORT:-8000}:8000"
    depends_on:
      db:
        condition: service_healthy
    dns:
      - 1.1.1.1
      - 8.8.8.8

  admin_ui:
    build:
      context: ./admin_frontend/admin-ui
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - api


  customer_ui:
    build:
      context: ./customer_frontend/customer-ui
      dockerfile: Dockerfile
    ports:
      - "6173:6173"
    depends_on:
      - api

volumes:
  pgdata:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${POSTGRES_DATA_DIR}

