services:
  db:
    extends:
      file: ./backend/docker-compose.yml
      service: db
    ports:
      - "5432:5432"
    networks:
      docker:
        ipv4_address: ${DB_IP}

  api:
    extends:
      file: ./backend/docker-compose.yml
      service: api
    environment:
      PYTHONPATH: /app
      TZ: ${TZ}
    ports:
      - "${API_PORT:-8000}:8000"
    depends_on:
      db:
        condition: service_healthy
    dns:
      - 1.1.1.1
      - 8.8.8.8
    networks:
      docker:
        ipv4_address: ${API_IP}

  admin_ui:
    build: ./admin_frontend/admin-ui
    ports:
      - "5173:5173"
    depends_on:
      - api
    networks:
      docker:
        ipv4_address: ${ADMIN_UI_IP}

  customer_ui:
    build: ./customer_frontend/customer-ui
    ports:
      - "5173:5173"
    depends_on:
      - api
    networks:
      docker:
        ipv4_address: ${CUSTOMER_UI_IP}

networks:
  docker:
    external: true
