services:
  db:
    extends:
      file: ./backend/docker-compose.yml
      service: db
    ports:
      - "5432:5432"
    # Variante A (ipvlan, eigene LAN-IP)
    # networks:
    #   docker:
    #     ipv4_address: 192.168.10.60

  api:
    extends:
      file: ./backend/docker-compose.yml
      service: api
    environment:
      PYTHONPATH: /app
    ports:
      - "${API_PORT:-8000}:8000"
    depends_on:
      db:
        condition: service_healthy
    dns:
      - 1.1.1.1
      - 8.8.8.8
    # Variante A (ipvlan, eigene LAN-IP)
    # networks:
    #   docker:
    #     ipv4_address: 192.168.10.61

  admin_ui:
    build: ./admin_frontend/admin-ui
    ports:
      - "5173:5173"
    depends_on:
      - api
    # Variante A (ipvlan, eigene LAN-IP)
    # networks:
    #   docker:
    #     ipv4_address: 192.168.10.62

  customer_ui:
    build: ./customer_frontend/customer-ui
    ports:
      - "6173:5173"
    depends_on:
      - api
    # Variante A (ipvlan, eigene LAN-IP)
    # networks:
    #   docker:
    #     ipv4_address: 192.168.10.63

volumes:
  pgdata:
