global:
  scrape_interval: 15s
  evaluation_interval: 30s

scrape_configs:
  - job_name: "cadvisor"
    metrics_path: /metrics
    static_configs:
      - targets: ["cadvisor:8080"]
        labels:
          service: cadvisor
          environment: dev

  - job_name: "fastapi"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:8000"]
        labels:
          service: api
          environment: dev
